<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--&lt;!&ndash; logback为java中的包 &ndash;&gt;-->
    <!--<logger name="logback"/>-->
    <!--&lt;!&ndash;logback.LogbackDemo：类的全路径 &ndash;&gt;-->
    <!--<logger name="logback.LogbackDemo" level="INFO" additivity="false">-->
    <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>